/*Grids manage page layout*/

/*8 Column Grid System */

.8-1 {width: 12.5%; margin: 0 2%;}
.8-2 {width: 25%; margin: 0 2%;}
.8-3 {width: 35%; margin: 0 2%;}
.8-4 {width: 50%; margin: 0 2%;}
.8-5 {width: 62.5%; margin: 0 2%;}
.8-6 {width: 75%; margin: 0 2%;}
.8-7 {width: 87.5%; margin: 0 2%;}



